.flogz-top-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  border-radius: 0;
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-top: none;
  z-index: 1;
  -webkit-box-shadow: -1px -1px 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px -1px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: -1px -1px 5px 5px rgba(0, 0, 0, 0.1)
}

.top-bar-content {
  padding: 14px 0px 0px 0px;
}
